In [54]:
import pandas as pd
from utils import make_connection

In [55]:
conn = make_connection(config_file = 'db_config.ini')
cursor = conn.cursor()

Connection successful

In [56]:
from faker import Faker
import random

# Initialize a Faker generator
fake = Faker()

# Number of rows to generate
num_rows = 50

# Function to generate data for the 'users' table
def generate_users(num_rows):
    users_data = []
    used_ids = set()  # Set to keep track of used User_IDs

    while len(users_data) < num_rows:
        user_id = fake.random_number(digits=3, fix_len=True)

        # Check if the generated User_ID is already used
        if user_id not in used_ids:
            used_ids.add(user_id)
            users_data.append({
                "Name": fake.name(),
                "Email": fake.email(),
                "Phone": fake.random_number(digits=10, fix_len=True),
                "Role": random.choice(['Customer', 'Admin', 'Staff']),
                "User_ID": user_id,
                "Password": fake.password()
            })

    return users_data

# Function to generate data for the 'orders' table
def generate_orders(num_rows):
    orders_data = []
    for _ in range(num_rows):
        orders_data.append({
            "Order_ID": fake.uuid4(),
            "Day_Of_Week": random.choice(range(1, 8)),
            "Month": random.choice(range(1, 13)),
            "Year": random.choice(range(2020, 2024)),
            "Date": fake.date_between(start_date='-2y', end_date='today'),
            "Order_Time": fake.time(),
            "User_ID": fake.uuid4()  # This will be replaced with actual User_IDs later
        })
    return orders_data

# Function to generate data for the 'order_details' table
def generate_order_details(num_rows):
    order_details_data = []
    for _ in range(num_rows):
        order_details_data.append({
            "Order_Details_ID": fake.uuid4(),
            "Menu_ID": random.randint(1, 100),  # Assuming Menu_IDs range from 1 to 100
            "UnitPrice": round(random.uniform(5.0, 200.0), 2),
            "Quantity": random.randint(1, 10),
            "Order_ID": fake.uuid4()  # This will be replaced with actual Order_IDs later
        })
    return order_details_data

# Function to generate data for the 'menu' table
def generate_menu(num_rows):
    menu_data = []
    for _ in range(num_rows):
        menu_data.append({
            "Category": random.choice(['Starter', 'Main Course', 'Dessert', 'Beverage']),
            "Menu_ID": fake.uuid4(),
            "Item_Name": fake.word(),
            "Price": round(random.uniform(10.0, 50.0), 2)
        })
    return menu_data

# Function to generate data for the 'reservation' table
def generate_reservation(num_rows):
    reservation_data = []
    for _ in range(num_rows):
        reservation_data.append({
            "Reservation_ID": fake.uuid4(),
            "Day_Of_Week": random.choice(range(1, 8)),
            "Date": fake.date_between(start_date='-2y', end_date='today'),
            "Month": random.choice(range(1, 13)),
            "Year": random.choice(range(2020, 2024)),
            "Reservation_Time": fake.time(),
            "Number_of_Guests": random.randint(1, 10),
            "Table_ID": random.randint(1, 20),  # Assuming Table_IDs range from 1 to 20
            "User_ID": fake.uuid4()  # This will be replaced with actual User_IDs later
        })
    return reservation_data

# Function to generate data for the 'table_details' table
def generate_table_details(num_rows):
    table_details_data = []
    for _ in range(num_rows):
        table_details_data.append({
            "Table_ID": fake.uuid4(),
            "Seating_Capacity": random.choice([2, 4, 6, 8, 10]),
            "Location": fake.city()
        })
    return table_details_data

# Function to generate data for the 'can_be_present' table
def generate_can_be_present(num_rows, menu_data, order_details_data):
    can_be_present_data = []
    for _ in range(num_rows):
        can_be_present_data.append({
            "Menu_ID": random.choice(menu_data)['Menu_ID'],
            "Order_Details_ID": random.choice(order_details_data)['Order_Details_ID']
        })
    return can_be_present_data

# Generate the data for each table
users_data = generate_users(num_rows)
orders_data = generate_orders(num_rows)
order_details_data = generate_order_details(num_rows)
menu_data = generate_menu(num_rows)
reservation_data = generate_reservation(num_rows)
table_details_data = generate_table_details(num_rows)
can_be_present_data = generate_can_be_present(num_rows, menu_data, order_details_data)

# Since this data is artificial, some foreign keys won't match.
# Normally, these should be consistent with actual IDs from related tables.
# We will print the 'users' table data as an example
# users_data[:5]  # Display first 5 rows
pd.DataFrame(users_data)

,Name,Email,Phone,Role,User_ID,Password
0,Phillip Fisher,tiffanycampbell@example.net,7434765504,Admin,687,v0PaOXFg^e
1,Vicki Mullins,rodriguezheather@example.org,1489243866,Admin,534,yXM+7rFzF+
2,Robert Webb,kenneth55@example.org,7836229751,Admin,921,aKZ1qiQv5#
3,Ryan Johnson,glawson@example.org,4497507599,Customer,236,(7GPRIlF1&
4,Jessica Black,jeffrey23@example.net,1485117672,Customer,537,co)02Rcm83
5,Shannon Caldwell,jenniferwilkins@example.net,4042777791,Admin,283,@5o$XlAm+g
6,Misty Simon,olawson@example.com,9511952397,Admin,321,^FXv$hqS9e
7,Tracy Nguyen,quinnmatthew@example.com,1434555288,Staff,724,Tqt&19WbtK
8,Samantha Rogers,sheltonrobert@example.com,7546537741,Staff,644,pTypCKz3#6
9,Candice Ayers,kimsarah@example.org,5979304676,Admin,668,47)01yJhrM
10,Amber Larson,jennifernorris@example.org,4406314068,Staff,596,72!RDc$w%F
11,Elizabeth Robinson,beckkaren@example.org,6098339994,Admin,619,@nbcW9p$0k
12,Casey Rasmussen,donaldgreen@example.com,1918732397,Staff,165,dJ@sQxwg$8
13,Nicholas Mcmahon,james46@example.com,4621580079,Admin,763,5ucXnwDi#0
14,Christopher Carter,huntashley@example.org,5255660833,Staff,582,9o)A44Nk(L
15,Oscar James,byrdandrew@example.net,4190960108,Customer,563,A6VLo&Ln^n
16,Cindy Dixon,schroedergregory@example.org,8887423285,Customer,968,7JYa*6dy$4
17,Michael Blair,qthompson@example.net,4335676828,Staff,918,@A!iT8*i1b
18,Kim Massey,kelly73@example.org,6557115902,Staff,144,w^yO8SqlyX
19,Tanya Jones,charles85@example.com,2140154883,Staff,719,3(3bWaDGS)
20,David Bolton,whitejoel@example.net,4188928111,Customer,562,!lJN)Gazs9
21,Jimmy Wilson,murrayjonathan@example.org,6175812407,Staff,216,@k5Vwkc#gI
22,Lauren Torres,amanda46@example.org,5733276708,Admin,731,_f0SteTn7H
23,Brian Barnes,joneskelsey@example.net,6450397855,Admin,801,#z86@GZzGD
24,Christian Carroll,mjohnson@example.com,2280275718,Customer,730,+R34qxNd#n
25,Wendy Powers,mwells@example.com,8316287496,Customer,623,FFQ2SfX#L)
26,Mary Garrett,ebrown@example.org,9647248844,Staff,849,(R96hRmz*y
27,Elizabeth Jackson,johnkim@example.com,4224408124,Admin,119,t^QD_9GafJ
28,Michelle Richardson,rjohnson@example.com,2079232454,Customer,985,K5HyUzIr)O
29,Jesus Rogers,dominiquesantos@example.com,4334976063,Staff,122,7fH7_Uv3^x
30,Sean Johnson,marquezalexis@example.com,5228979875,Admin,790,rs+XaaNc@2
31,Jonathan Atkins,marksjoanna@example.org,8506639877,Staff,513,@#B6ZdSNGT
32,Joshua Herrera,jack10@example.com,9368511170,Admin,123,Y!6IFnQB!)
33,Rhonda Gomez,marcus98@example.net,8160721276,Staff,854,*MIw@9NyB!
34,Leslie Mendoza,corey46@example.net,4189476766,Staff,241,ZCCtuogh(9
35,Donna Short,jonathan61@example.net,1212263499,Staff,411,^wAYqom!K8
36,Kaylee Diaz,cruzcourtney@example.org,2931994261,Staff,840,$7wpO(RuL4
37,Casey Freeman,shaneduncan@example.org,8673058285,Admin,744,j*ZV6!Qy%2
38,Mary Clements,michael52@example.net,7577317489,Admin,880,(6_Sk98u_6
39,Emily Smith,hking@example.net,1778017399,Admin,222,#8u1N#cFtJ
40,Jesse Harris,bsanders@example.com,8088564368,Admin,561,H#6J78Xfm3
41,Krystal Reynolds,randallglover@example.org,2202615448,Customer,136,asPFHvDl!9
42,Richard Barr,dgreene@example.net,2155140749,Staff,217,L$yI70SmC_
43,Luis Thomas,nevans@example.net,4861249949,Staff,794,l53MEGtgg@
44,Lisa Santos,moorejustin@example.net,8069319413,Admin,154,7r7ILg$4(S
45,Gail Moore,woodjennifer@example.org,4656761595,Staff,495,K&9Z$gxxph
46,Brandon Thornton,bburton@example.net,3230738164,Staff,661,%fIHzk2fq4
47,Joseph Oliver,virginia48@example.net,2019236437,Admin,458,@8Yh#GKbWz
48,Tony Burke,donaldvalencia@example.org,5845300513,Staff,933,@8CLCD6shS
49,Erin Erickson,jilldiaz@example.org,9409130719,Admin,470,A@_R6ARjP$

In [59]:
users_data_df = pd.DataFrame(users_data)
users_data_df['Phone'] = users_data_df['Phone'].astype(int)

In [62]:
users_data_df.to_csv('Users Data.csv', index=False)

In [58]:
# SQL query to insert data
insert_query = """
INSERT INTO users (Name, Email, Phone, Role, User_ID, Password)
VALUES (%s, %s, %s, %s, %s, %s)
"""

# Iterate over the DataFrame rows as tuples, inserting each row
for row in users_data_df.itertuples(index=False):
     cursor.execute(insert_query, row)

    # Commit the transaction
conn.commit()
print(f"{cursor.rowcount} rows were inserted.")

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [45]:
conn.close()
cursor.close()

True